<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="2.1.267" targetFramework="net472" />
  <package id="ChartDirector.Net" version="7.1.0" targetFramework="net472" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net472" />
  <package id="NBasicExtensionMethod" version="1.0.4292.32667" targetFramework="net472" />
  <package id="NHelpfulException" version="1.0.4409.2007" targetFramework="net472" />
  <package id="NMap" version="1.0.4530.32469" targetFramework="net472" />
  <package id="NModbus4" version="2.1.0" targetFramework="net472" />
  <package id="NSure" version="1.0.4409.2144" targetFramework="net472" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.117.0" targetFramework="net472" />
  <package id="System.Data.SQLite" version="1.0.117.0" targetFramework="net472" />
  <package id="System.Data.SQLite.Core" version="1.0.117.0" targetFramework="net472" />
  <package id="System.Data.SQLite.EF6" version="1.0.117.0" targetFramework="net472" />
  <package id="System.Data.SQLite.Linq" version="1.0.117.0" targetFramework="net472" />
</packages>